/* COLOR VARIABLES */
$color-white: #ffffff;
$color-black: #232426;
$color-blue: #331de3;
$color-violet-hover: #4f3ced;
$color-violet-pressed: #4836df;
$color-violet-active: #6a5aed;
$color-light-violet-hover: #f1effe;
$color-light-violet-pressed: #e7e4ff;
$color-light-grey: #fdfdff;
$color-grey: #929393;
$color-disabled: #92939366;
$color-dark-grey: #595959;
$color-error: #f53c14;
$color-success: #10c44c;
$color-disable: transparentize(#929393, 0.6);
$color-bg-grey: #f2f2f2;
$color-bg-red: #ffe6e0;
$color-bg-green: #d1ffe1;
$color-bg-blue: #ddebff;

/* FONT SIZE VARIABLES */
$textXS: 12px;
$textS: 14px;
$textM: 16px;
$textL: 20px;
$textXL: 24px;
$textXXL: 32px;

/* BORDER RADIUS VARIABLES */
$br-input: 12px;
