@import 'src/components/Shared/variables.scss';
@import 'src/components/Shared/mixins.scss';


.link {
    @include font-sans($textS, $color-black, 300, 170%, 0.5px);
    text-decoration: none;
    color: $color-black;

    display: flex;
    align-items: center;
    gap: 8px;

    box-sizing: border-box;
    border-radius: 10px;
    height: 59px;
    padding: 10px;
}

.active {
    background-color: $color-violet;
}
