@import '../Shared/mixins';
@import '../Shared/variables';

.candidates-table-cell {
  display: grid;
  grid-template-columns: 64px 215px 105px 220px 105px 217px 49px 49px;
  grid-template-rows: 71px;
  border-bottom: 1px solid $color-light-violet-hover;
  align-items: center;

  &__avatar {
    height: 40px;
    width: 40px;
    padding-left: 16px;
  }

  &__name {
    @include font-sans($textS, $color-black, 300, 188%, 0.28px);
    margin: 0;
    padding-right: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__job-title {
    @include font-sans($textXS, $color-grey, 300, 120%, 0.24px);
  }

  &__match {
    margin-left: 16px;
  }

  &__status {
    position: relative;
  }

  &__year {
    @include font-sans($textS, $color-black, 300, 188%, 0.28px);
    padding-left: 15px;
  }

  &__work {
    @include font-sans($textS, $color-black, 300, 170%, 0.48px);
    padding: 0 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__like {
    background: url(../../images/icons/icon-like.svg);
    background-size: cover;
    margin-left: 16px;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
  }

  &__like_active {
    background: url(../../images/icons/icon-like-active.svg);
    background-size: cover;
    margin-left: 16px;
    width: 16px;
    height: 16px;
  }

  &__more {
    background: url(../../images/icons/icon-more.svg);
    width: 16px;
    height: 16px;
    margin-left: 16px;
    border: none;
    cursor: pointer;
  }
}
