@import '../../Shared/mixins';
@import '../../Shared/variables';

.widget {
  box-shadow: 0px 2px 12px 0px rgba(106, 90, 237, 0.08);
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
}
