@import '../Shared/mixins';
@import '../Shared/variables';

.app {
  height: 100%;
	&__content {
		height: 100%;
		@include font-sans($textXL, $color-violet, 700);
	}
	&__test {
		width: 420px;
		margin: 0 auto;
	}
}
