/* MIXINS */ /* COLOR VARIABLES */
/* FONT SIZE VARIABLES */
.app__content {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: hsl(247, 80%, 64%);
}
.app__test {
  font-family: "Itim", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: hsl(201, 1%, 57%);
  line-height: 1.5;
  letter-spacing: 3px;
}
