@import '../../Shared/mixins';
@import '../../Shared/variables';

.resume {
  &__actions {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    z-index: 1;
    top: 7px;
    right: 24px;
    width: 232px;
  }

  &__action {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__no-resume {
    margin: 20px auto 0;
    height: 150px;
    background: url(../../../temp/images/icon-no-doc.png) no-repeat center;
    background-size: 60px;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  &__no-resume-text {
    @include font-sans($textS, $color-dark-grey, 300, 188%, 0.28px);
  }
}

/* PDF-viewer styles */
.rpv-core {
  &__canvas-layer {
  }
  &__text-layer {
  }
  &__page-layer {
    &::after {
      border: none !important;
      box-shadow: none !important;
    }
    &--single {
      width: 100% !important;
    }
  }
}

canvas {
  width: 100% !important;
  height: max-content !important;
}
