@import '../Shared/mixins';
@import '../Shared/variables';

.app-layout {
  max-width: 1440px;
  //min-width: 1300px;
  padding-right: 32px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 32px;

  overflow: visible;
}
