@import '../Shared/mixins';
@import '../Shared/variables';

.main-vacancy {
  width: 100%;
  background-color: $color-white;
  border-radius: 4px;
  border: 1px solid $color-light-violet-hover;
  padding: 24px 24px 20px 24px;
  margin-bottom: 34px;
  box-sizing: border-box;

  &__header-container {
    padding-bottom: 32px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    @include font-sans($textM, $color-dark-grey, 300, 170%, 0.48px);
    margin: 0;
  }

  &__data {
    @include font-sans($textXS, $color-dark-grey, 250, 120%, 0.24px);
    margin: 0;
  }
}
