@import '../Shared/mixins';
@import '../Shared/variables';

.register-retry {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  &__text {
    width: 390px;
    margin: 0;
    @include font-sans($textM, $color-black, 300, 1.7, 0.48px);
  }

  &__link {
    color: $color-violet-active;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $color-violet-hover;
    }
  }
}

@media screen and (min-width: 1920px) {
  .register-retry {
    &__text {
      width: 100%;
    }
  }
}
