@import '../Shared/variables.scss';

.nav-menu {
  min-height: 660px;
  height: calc(100vh - 123px);
  box-sizing: border-box;
  width: 352px;
  padding: 32px;
  background-color: $color-white;
  border-right: 1px solid $color-light-violet-hover;

  &__splitter {
    height: 48px;
  }
}
