@import '../../Shared/mixins';
@import '../../Shared/variables';

.action-sheet {
  width: 290px;
  padding: 24px 16px;
  box-sizing: border-box;
  display: none;
  position: absolute;
  z-index: 10;
  background-color: $color-white;
  box-shadow: 0px 4px 30px 0px rgba(146, 147, 147, 0.2);
  border-radius: $br-input;

  &_place_funnel {
    top: 2px;
    right: -300px;
  }

  &_visible {
    display: block;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__btn {
    width: 100%;
    padding: 8px 16px 8px 56px;
    border: none;
    @include font-sans($textM, $color-black, 300, 1.7, 0.48px);
    text-align: left;
    cursor: pointer;

    &_type_edit {
      background: url(../../../images/icons/icon-edit.svg) 16px center/24px
        no-repeat;
    }

    &_type_succeed {
      background: url(../../../images/icons/icon-round-success-black.svg) 16px
        center/24px no-repeat;
    }

    &_type_failed {
      background: url(../../../images/icons/icon-round-fail-black.svg) 16px
        center/24px no-repeat;
    }

    &_type_delete {
      background: url(../../../images/icons/icon-trash-bin.svg) 16px center/24px
        no-repeat;
    }

    &_type_link {
      background: url(../../../images/icons/icon-link-black.svg) 16px
        center/24px no-repeat;
    }
  }
}
