@import '../../Shared/mixins';
@import '../../Shared/variables';

.input-text-area {
  @include font-sans($textXS, $color-dark-grey, 300, 120%, 0.24px);
  width: 320px;
  height: 120px;
  resize: none;
  box-sizing: border-box;
  padding: 16px 12px;
  background-color: $color-light-grey;
  border-radius: 4px;
  border: 1px solid $color-dark-grey;

  &:hover {
    background-color: $color-light-violet-hover;
    border: 1px solid $color-light-violet-pressed;
  }

  &:active,
  &:focus,
  &:focus-visible {
    background-color: $color-light-grey;
    border-color: $color-black;
    outline: none;
  }

  &__text-counter {
    @include font-sans($textXS, $color-dark-grey, 300, 120%, 0.24px);
    text-align: right;
    padding: 3px 0 0 8px;
  }

  &__text-counter_error {
    @include font-sans($textXS, $color-error, 300, 120%, 0.24px);
  }

  &_error {
    border-color: $color-error !important;
  }

  scrollbar-color: $color-light-violet-hover $color-light-violet-pressed;
  scrollbar-width: thin;
}

.input-text-area::-webkit-scrollbar {
  width: 8px;
  background-color: $color-light-violet-hover;
}

.input-text-area::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: $color-light-violet-pressed;
  border-radius: 4px;
}
