@import '../Shared/mixins.scss';
@import '../Shared/variables.scss';

.candidate-notes-widget {
  background-color: $color-white;
  padding: 24px 24px 32px 24px;

  &__header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    display: inline-block;
    @include font-sans($textM, $color-black, 600, 160%, 0.32px);
  }

  &__add-btn {
    height: 24px;
    width: 24px;
    background-image: url(../../images/icons/icon-plus-violet.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    background-color: $color-white;
    border: none;
    cursor: pointer;
  }

  &__add-btn:hover {
  }

  &__time-of-creation {
    @include font-sans($textXS, $color-dark-grey, 250, 120%, 0.24px);
  }

  &__text {
    @include font-sans($textXS, $color-grey, 250, 120%, 0.24px);
    padding: 24px 0;
  }

  &__action-btns {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__action-btn {
    @include font-sans($textXS, $color-violet-active, 250, 120%, 0.24px);
    background-color: $color-white;
    border: none;
    cursor: pointer;
  }
}
