@import '../../Shared/mixins';
@import '../../Shared/variables';

.right-side-bar {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(35, 36, 38, 0.4);
  cursor: pointer;
  z-index: 1;

  &_opened {
    visibility: visible;
    opacity: 1;
    cursor: unset;
  }

  &__container {
    background-color: $color-white;
    width: 384px;
    height: 100vh;
    margin-left: auto;
    cursor: auto;
    padding-top: 32px;
  }

  &__close-btn {
    display: block;
    box-shadow: 0px 2px 12px 0px rgba(106, 90, 237, 0.08);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../../../images/icons/Icon-right-side-bar-close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-color: $color-white;
    border: none;
    cursor: pointer;
    margin: 0 32px 0 auto;
  }

  &__header {
    @include font-sans($textXL, $color-black, 700, 150%, 0.96px);
    margin: 20px 0 0 32px;
  }
}
