.candidate {
  width: 1025px;

  &__container {
    position: relative;
    display: flex;
    background-color: transparent;
  }

  &__scroll-container {
    position: absolute;
    display: flex;
    gap: 32px;
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    overflow-x: hidden;
    min-height: calc(100vh - 444px);
  }

  &__content {
    position: relative;
    display: inline-block;
    margin-top: 12px;
    margin-left: 12px;
    margin-bottom: 12px;
    width: 672px;
    min-height: calc(100% - 24px);
    height: max-content;
    box-shadow: 0px 2px 12px 0px rgba(106, 90, 237, 0.08);
    border-radius: 4px;
  }

  /*---=== TEMP ===--- */
  &__widgets-container {
    display: flex;
    margin-top: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    flex-direction: column;
    gap: 26px;
    max-width: 320px;
    height: max-content;
  }

  &__widget {
    min-height: 150px;
    height: fit-content;
    box-shadow: 0px 2px 12px 0px rgba(106, 90, 237, 0.08);
    border-radius: 4px;
    background-color: white;
  }
}
