@import '../Shared/mixins.scss';
@import '../Shared/variables.scss';

.candidate {
  width: 1025px;

  &__container {
    position: relative;
    display: flex;
    background-color: transparent;
  }

  &__scroll-container {
    position: absolute;
    display: flex;
    gap: 32px;
    top: -12px;
    right: -20px;
    bottom: -12px;
    left: -12px;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    min-height: calc(100vh - 500px);
    scrollbar-color: #e7e4ff #f1effe80;
    scrollbar-width: thin;

    &_height {
      &_small {
        min-height: calc(100vh - 445px);
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
      background-color: rgba(241, 239, 254, 0.5);
    }

    &::-webkit-scrollbar-thumb {
      width: 8px;
      background-color: $color-light-violet-pressed;
      border-radius: 4px;
    }
  }

  &__content {
    position: relative;
    display: inline-block;
    margin-top: 12px;
    margin-left: 12px;
    margin-bottom: 12px;
    width: 672px;
    min-height: calc(100% - 24px);
    height: max-content;
    box-shadow: 0px 2px 12px 0px rgba(106, 90, 237, 0.08);
    border-radius: 4px;
  }

  /*---=== TEMP ===--- */
  &__widgets-container {
    display: flex;
    margin-top: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    flex-direction: column;
    gap: 26px;
    max-width: 320px;
    height: max-content;
  }

  &__widget {
    min-height: 150px;
    height: fit-content;
    box-shadow: 0px 2px 12px 0px rgba(106, 90, 237, 0.08);
    border-radius: 4px;
    background-color: white;
  }
}
