@import '../../Shared/mixins.scss';
@import '../../Shared/variables.scss';

.candidate-header {
  display: grid;

  grid-template-columns: 672px 1fr;
  //min-width: 100%;
  //width: 1024px;
  min-width: 100%;

  //display: grid;
  //grid-template-columns: 161px auto 352px;
  align-items: center;
  justify-content: space-between;
  height: 181px;
  box-sizing: border-box;
  border: 1px solid $color-light-violet-hover;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 hsla(247, 80%, 64%, 0.08);

  &__info-container {
    //border: 1px solid red;
    padding-left: 32px;
    box-sizing: border-box;
    display: flex;
    gap: 24px;
  }

  &__image-container {
    width: 60px;
    height: 60px;
  }

  &__photo {
    position: relative;
    height: 105px;
  }

  &__info {
    border: 1px solid red;
    width: 492px;
    height: 105px;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
  }

  &__actions {
    padding: 0 32px;
    //flex-grow: 1;
    max-width: 352px;
    border-left: 1px solid $color-light-violet-hover;
    //flex-shrink: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 34px;
  }

  &__actions-container {
    display: flex;
    justify-content: space-between;
    width: 168px;
  }
}

.info {
  &__candidate-name {
    margin: 0;
    @include font-sans($textXL, $color-black, 700, 150%, 0.96px);
    text-overflow: ellipsis;
  }

  &__candidate-spec {
    @include font-sans($textM, $color-grey, 300, 170%, 0.48px);
    text-overflow: ellipsis;
  }

  &__candidate-tags {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
  }

  &__candidate-tag {
    list-style: none;
    min-width: 70px;
    height: 30px;
    border: 1px solid red;
  }
}

.extra {
  &__actions {
    border: 1px solid red;
    padding: 0;
    display: flex;
    gap: 24px;
  }

  &__action {
    list-style: none;
  }

  &__action-button {
  }

  &__progress {
    border: 1px solid red;
    width: 201px;
    height: 27px;
    position: relative;
  }
}

.image {
  width: 100px;
  aspect-ratio: 1;
  //background: url('../../../temp/images/avatar.jpg') center no-repeat;
  background-size: cover;
}

.figure {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 73px;
  height: 30px;
  border-radius: 6px;
  background-position: 10px;
  background-repeat: no-repeat;
  text-align: end;
  @include font-sans($textS, $color-success, 200, 120%, 0.24px);

  &_match_high {
    color: $color-success;

    background-color: $color-bg-green;
    background-image: url('../../../images/icons/icon-vacancies-table/arrow_up_green.svg');
  }

  &_match_medium {
  }

  &_match_low {
  }
}


