@import '../../Shared/mixins.scss';
@import '../../Shared/variables.scss';

.candidate-header {
  display: grid;
  grid-template-columns: 672px 1fr;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  min-height: 181px;
  max-height: 181px;
  box-sizing: border-box;
  border: 1px solid $color-light-violet-hover;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 hsla(247, 80%, 64%, 0.08);
  background-color: $color-white;

  &__info-container {
    display: flex;
    padding-left: 32px;
    box-sizing: border-box;
    gap: 24px;
  }

  &__about-candidate {
    display: flex;
    flex-direction: column;
    width: 492px;
  }

  &__photo-container {
    position: relative;
    align-self: center;
    height: 105px;
  }

  &__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    aspect-ratio: 1;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
  }

  &__match-status-container {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__actions {
    display: flex;
    padding: 0 31px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 32px;
    max-width: 352px;
    height: 100%;
    border-left: 1px solid $color-light-violet-hover;
  }

  &__actions-container {
    display: flex;
    justify-content: space-between;
    width: 168px;
  }

  &__progress {
    position: relative;
    width: 225px;
    height: 39px;
  }
}

.about-candidate {
  &__name {
    margin: 0;
    @include font-sans($textXL, $color-black, 700, 150%, 0.96px);
    text-overflow: ellipsis;
  }

  &__job {
    margin-bottom: 12px;
    @include font-sans($textM, $color-grey, 300, 170%, 0.48px);
    text-overflow: ellipsis;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    max-width: 100%;
    gap: 8px;
  }
}
