@import '../Shared/mixins';
@import '../Shared/variables';

.auth-screen {
  max-width: 100%;
  flex: 1;
  z-index: 1;

  &__section {
    max-width: 100%;
    max-height: 1024px;
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 32px;
    box-sizing: border-box;

    &_type_long {
      position: relative;
      justify-content: flex-end;
    }
  }

  &__img-bg {
    max-width: 49%;
    width: 100%;
    border-radius: 38.423px;
    background: url(../../images/bg-auth.jpg) left center/cover no-repeat
      content-box;

    &_type_long {
      max-width: calc(100% - 64px);
      height: calc(100% - 40px);
      position: absolute;
      top: 20px;
      left: 32px;
      z-index: -1;
    }
  }

  &__content-wrapper {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &_type_long {
      width: 438px;
      margin-top: 180px;
      margin-right: 117px;
    }
  }

  &__text {
    width: 438px;
    margin: 0;
    @include font-sans($textM, $color-grey, 300, 1.7, 0.48px);
    text-align: center;

    &_place_register-success {
      margin-bottom: 17px;
      color: $color-black;
    }
  }

  &__link {
    color: $color-violet-active;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $color-violet-hover;
    }
  }
}

@media screen and (min-width: 1441px) {
  .auth-screen {
    &__section {
      padding-left: 80px;
      padding-right: 80px;
    }

    &__img-bg {
      &_type_long {
        max-width: calc(100% - 160px);
        left: 80px;
      }
    }
  }
}
